.body{
    color: black;
}

.general{
    width: 71px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    cursor: pointer;
    background-color: white;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    position: absolute;
    width: 261px;
    height: 24px;
    left: 348px;
    top: 24px;
    list-style: none;
}

.header1{
    width: 48px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    cursor: pointer
}

.header2{
    width: 66px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    cursor: pointer
}

.header3{
    width: 66px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    cursor: pointer
}

.email{
    position: absolute;
    width: 153px;
    height: 24px;
    left: 940px;
    top: 24px;    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.number{
    position: absolute;
    width: 151px;
    height: 24px;
    left: 1133px;
    top: 24px;    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.h1{
   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 60px;    
}

.button-index{
    width: 106px;
    height: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
}

.button{
    list-style: none;
}

.web{
    width: 44px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    cursor: pointer;
    background-color: white;
}

.hover-links:hover{
    color: #4D5AE5;
}

.hidden-title{
    opacity: 0;
}

.button1:hover{
    color: chartreuse;
}

.button2:hover{
    color: chartreuse;
}

.button3:hover{
    color: chartreuse;
}

.button4:hover{
    color: chartreuse;
}

.button5:hover{
    color: chartreuse;
}

.button1{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 16px;
    width: 69px;
    height: 48px;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
    cursor: pointer
}

.button2{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    width: 116px;
    height: 48px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    flex: none;
    order: 1;
    flex-grow: 0;
    cursor: pointer
}

.button3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    width: 78px;
    height: 48px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    flex: none;
    order: 2;
    flex-grow: 0;
    cursor: pointer
}

.button4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    width: 101px;
    height: 48px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    flex: none;
    order: 3;
    flex-grow: 0;
    cursor: pointer
}

.button5{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    width: 126px;
    height: 48px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    flex: none;
    order: 4;
    flex-grow: 0;
    cursor: pointer
}

.main-list{
    list-style: none;
}

.list-style-none{
    list-style: none;
}

.font-class-every1{
    width: 114px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em
}

.font-class-every2{
    width: 75px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em
}

.main{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.last-text{
    position: absolute;
    width: 264px;
    height: 72px;
    left: 156px;
    top: 1902px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.font-class-every3{
    position: absolute;
    width: 264px;
    height: 72px;
    left: 156px;
    top: 1902px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.h3{
    width: 264px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.descrip{
    width: 264px;
    height: 72px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.what-doing{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
}

.what-doing-ex1{
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1));
    background-blend-mode: soft-light, normal;    
    border: 1px solid #E7E9FC;
}

.what-doing-ex2{
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1));
    background-blend-mode: soft-light, normal;    
    border: 1px solid #E7E9FC;
}

.what-doing-ex3{
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1));
    background-blend-mode: soft-light, normal;
    border: 1px solid #E7E9FC;
    position: absolute;
    position: absolute;
}

.our-team{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.our-team-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 32px;
    gap: 32px;
    position: absolute;
    width: 264px;
    height: 380px;
    left: 156px;
    top: 1783px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.our-team-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 32px;
    gap: 32px;
    position: absolute;
    width: 264px;
    height: 380px;
    left: 444px;
    top: 1783px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.our-team-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 32px;
    gap: 32px;
    position: absolute;
    width: 264px;
    height: 380px;
    left: 732px;
    top: 1783px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.our-team-4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 32px;
    gap: 32px;
    position: absolute;
    width: 264px;
    height: 380px;
    left: 1020px;
    top: 1783px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.footer-h3{
    width: 71px;
    height: 22px; 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;    
    flex: none;
    order: 1;
    flex-grow: 0;
}

.web-footer{
    width: 44px;
    height: 22px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;  
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    color: #4D5AE5;    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.footer-last-text{
    position: absolute;
    width: 264px;
    height: 72px;
    top: 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;    
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

.footer{
    position: absolute;
    width: 264px;
    height: 110px;
    top: 2383px;
    background-color: #2E2F42;
    width: 1440px;
    height: 310px;
}