.body{
    color: black;
}

header{
    text-decoration: none;
}

.web1{
    text-decoration: none;  
}

.general{
    width: 71px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    cursor: pointer;
    background-color: white;
    text-decoration: none;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    list-style: none;
    text-decoration: none;
}

.header1{
    width: 48px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    cursor: pointer;
    text-decoration: none;
}

.header2{
    width: 66px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    cursor: pointer;
    text-decoration: none;
}

.header3{
    width: 66px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    cursor: pointer;
    text-decoration: none;
}

.email{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.number{
 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}

.h1{
   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 60px;    
}

.hidden{
    display: none;
}

.button{
    list-style: none;
}

.web{
    width: 44px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    cursor: pointer;
    background-color: white;
}

.hover-links:hover{
    color: #4D5AE5;
}

.hover-links{
    text-transform: none;
}

.hidden-title{
    opacity: 0;
}

.button{
    padding: 16px 32px;
    gap: 10px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.button:hover{
    color: green;
}

.button1:hover{
    color: chartreuse;
}

.button2:hover{
    color: chartreuse;
}

.button3:hover{
    color: chartreuse;
}

.button4:hover{
    color: chartreuse;
}

.button5:hover{
    color: chartreuse;
}

.button1{
    width: 116px;
    height: 48px;
    cursor: pointer
}

.button2{
    box-sizing: border-box;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer;
    width: 78px;
    height: 48px;
}

.button3{
    width: 78px;
    height: 48px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer
}

.button4{
    width: 101px;
    height: 48px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer
}

.button5{
    box-sizing: border-box;
    width: 126px;
    height: 48px;
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    cursor: pointer
}

.main-list{
    list-style: none;
}

.list-style-none{
    list-style: none;
}

.font-class-every1{
    width: 114px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em
}

.font-class-every2{
    width: 75px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.main{
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
}

.last-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.font-class-every3{
    top: 1902px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.h3{
    width: 264px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.descrip{
    width: 264px;
    height: 72px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
}

.what-doing{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
}

.list3{
    list-style: none;
}
.what-doing-ex1{
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1));
    background-blend-mode: soft-light, normal;    
    border: 1px solid #E7E9FC;
    list-style: none;
}

.what-doing-ex2{
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1));
    background-blend-mode: soft-light, normal;    
    border: 1px solid #E7E9FC;
    list-style: none;
}

.what-doing-ex3{
    box-sizing: border-box;
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1));
    background-blend-mode: soft-light, normal;
    border: 1px solid #E7E9FC;
    list-style: none;
}

.our-team{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.our-team-1{
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.our-team-2{
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.our-team-3{
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.our-team-4{
    background: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}



.footer-h3{
    width: 71px;
    height: 22px; 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;    
}

.web-footer{
    width: 44px;
    height: 22px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;  
    display: flex;
    text-transform: uppercase;    
    color: #4D5AE5;  
    text-decoration: none;  
}

.footer-last-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;    
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

.footer{
    background-color: #2E2F42;
    width: 1440px;
    height: 310px;
}
.footer1{
    position: absolute;
    top: 4150px;
    background-color: #2E2F42;
    width: 1440px;
    height: 310px;
}